html {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  min-height: 100vh;
}

body {
  display: flex;
  padding: 0;
  margin: 0;
  background: linear-gradient(0deg, #6f2dbd, #b298dc, #b9faf8);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator-grid {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
  margin: auto;
  width: 500px;
}

.calculator-grid .calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 125px);
  grid-template-rows: minmax(120px, auto) repeat(4, 125px);
}

.calculator-grid div:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.calculator-grid .left {
  border-bottom-left-radius: 10px;
}

.calculator-grid #right {
  border-bottom-right-radius: 10px;
}

.calculator-grid button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  text-align: right;
  background-color: #b9faf862;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border: 1px solid white;
}
.output .previous-operand {
  color: rgba(0, 0, 0, 0.29);
  font-size: 2rem;
}

.output .current-operand {
  color: rgba(0, 0, 0);
  font-size: 3rem;
}
.span-two.equals {
  background-color: #e89348dd;
}
.span-two.equals:hover {
  background-color: #ed9549;
}

.calculator-grid [data-state="selected"] {
  background-color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 800px) {
  html {
    transform: scale(0.8);
  }
  body {
    transform: scale(0.8);
  }
}
